 @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #6b7381;
	background: #f2f2f2;
}

a {
	color: #aaa;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

/* Header Style */
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.8;
	padding: 0 0 0.6em 0.1em;
}

/* Navigation */
.navi {
	padding-top: 1em;
	font-size: 0.9em;
}

.navi a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #6b7381;
	color: #6b7381;
	font-weight: 700;
}

.navi a:hover,
.navi a.current,
.navi a.current:hover {
	opacity: 0.6;
}

.page-wrap {
  background: transparent;
  margin: 1rem auto;
  max-width: 30rem;
  padding: 2rem;
}

.social {
  text-align: center;
  font-size: 0;
  background: #eee;
  padding: 0.5rem;
}
.social-button {
  display: inline-block;
  width: 32%;
  margin-right: 2%;
  padding: 0.5rem;
  background: #ccc;
  text-align: center;
}
.social-button:last-child {
  margin-right: 0;
}
.social-button iframe {
  display: inline;
}
 
@media screen and (max-width: 25em) {

 

}